extends layout

block content
	#filterview
		form#formview(method='post')
			#checklist
				each val, idx in filters
						h4 #{idx}
						each filter in val
							.filter-option.white-box
								input(type='checkbox', checked, id=filter, name=filter)
								label(for=filter) #{filter}
			br
			input#save(type='submit', value='Save Filter')