extends layout

block content
	script(src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js")
	link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
	.page#events(data-role="page")
		.top-header(data-role="header")
			.navbar(data-role="navbar")
				ul
					li
						a.ui-btn-active.ui-state-persist(href="#",data-icon="grid") Registered Events
					li
						a(href="#preferences",data-icon="gear") Preferences
		.ui-content(data-role="main")
			.top-header-div
				.header-name-div
					span.span-name Brandon Porter
				.header-image-div
					img.header-image(src="/images/profile-pic.jpg", alt="Profile Picture")
				input.logout-button(type="button", name="logoutBtn", value="Logout", onclick="javascript: window.location.href = '/'")
				.collapisbleset(data-role="collapsibleset")
					each event, idx in events
						.collapsible(data-role="collapsible")
							h3.event-name-h3 #{event.name}
							p.event-content-p
								.event-content-image-div
									img.event-content-image(src=event.image, alt=event.name)
								.event-content-info-div
									.info-content-div Description
									span.info-data-span #{event.desc}
								.event-content-info-div
									.info-content-div Start Date
									span.info-data-span #{event.sDate}
								.event-content-info-div
									.info-content-div End Date
									span.info-data-span #{event.eDate}
								.event-content-info-div
									.info-content-div Web URL
									span.info-data-span #{event.webUrl}
	.page#preferences(data-role="page")
		div.top-header(data-role="header")
			.navbar(data-role="navbar")
				ul
					li
						a(href="#events",data-icon="grid") Registered Events
					li
						a.ui-btn-active.ui-state-persist(href="#",data-icon="gear") Preferences
		.ui-content(data-role="content")
			.top-header-div
				.header-name-div
					span.span-name Brandon Porter
				.header-image-div
					img.header-image(src="/images/profile-pic.jpg", alt="Profile Picture")
				input.logout-button(type="button", name="logoutBtn", value="Logout", onclick="javascript: window.location.href = '/'")
				.collapisbleset
					label(for="test") Check Test
					input#test(type="checkbox",name="test",value="1", data-mini="true")
					label(for="test1") Check Test 1
					input#test1(type="checkbox",name="test1",value="1",data-mini="true")
					label(for="test2") Check Test 2
					input#test2(type="checkbox",name="test2",value="1",data-mini="true")
					label(for="test3") Check Test 3
					input#test3(type="checkbox",name="test3",value="1",data-mini="true")
					label(for="test4") Check Test 4
					input#test4(type="checkbox",name="test4",value="1",data-mini="true")
					label(for="test5") Check Test 5
					input#test5(type="checkbox",name="test5",value="1",data-mini="true")
					label(for="test6") Check Test 6
					input#test6(type="checkbox",name="test6",value="1",data-mini="true")
					label(for="test7") Check Test 7
					input#test7(type="checkbox",name="test7",value="1",data-mini="true")		
